# Exported functions
export(gtf_import)
export(eORF_import)
export(Ribo_data)
export(ggRibo)
export(ggRibo_decom)
export(ggRibo_tx)
export(ggRNA)
export(create_seq_input)
export(plotDNAandAA)
export(plotDNAandAA_tx)
export(plotGeneTxModel)
export(plotGeneTxModel_tx)

# Export R6 classes
exportClasses(Range_info)
exportClasses(eORF_Range_info)
exportClasses(Gene_info)
exportClasses(eORF_info)

# Import functions from other packages
importFrom(ggplot2, ggplot, geom_col, geom_step, geom_tile, geom_text, geom_segment, geom_vline, geom_rect, scale_fill_manual, scale_color_manual, scale_x_continuous, scale_x_reverse, scale_y_continuous, sec_axis, theme_bw, theme_void, theme_minimal, theme, element_blank, element_text, element_line, annotate, aes, ggplotGrob)
importFrom(GenomicRanges, GRanges, GRangesList, start, end, width, seqnames, strand, reduce, sort, findOverlaps, pintersect)
importFrom(GenomicFeatures, exonsBy, transcriptsBy, cdsBy, fiveUTRsByTranscript, threeUTRsByTranscript)
importFrom(GenomicAlignments, readGAlignments, readGAlignmentPairs, coverage)
importFrom(Rsamtools, ScanBamParam)
importFrom(IRanges, IRanges, pintersect, findOverlaps, coverage)
importFrom(R6, R6Class)
importFrom(cowplot, plot_grid)
importFrom(Biostrings, getSeq, DNAString, reverseComplement, translate)
importFrom(grid, unit)
importFrom(stats, aggregate, merge)
importFrom(utils, read.delim, globalVariables)
importFrom(methods, is)
importFrom(rtracklayer, import)
importFrom(tools, file_ext)
importFrom(txdbmaker, makeTxDbFromGFF)
importFrom(GenomeInfoDb, seqlengths)
